

{
font-style:italic ;
font-weight:100 ;
font-size: 50px;
}

h1
{
font-style:italic ;
font-weight:100 ;
font-size: 50px;
}
h2
{
font-style:italic ;
font-weight:100 ;
font-size: 50px;

}
h3
{
font-family: 'Lato', sans-serif;
}
body
{
background-image:url("фото 1234.jpg");
background-size:revert-layer;
}
header
{
color: yellow;
}


}